* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "PT Sans", sans-serif;
}
.about,
.home,
.products,
.services,
.SignUp {
  display: flex;
  justify-content: center;
  font-size: 4rem;
  height: 90vh;
  align-items: center;
  color: #fff;
}
.about {
  background-image: url("./images/img1.jfif");
  background-attachment: scroll;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.products {
  background-image: url("./images/img2.jfif");
  background-attachment: scroll;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.services {
  background-image: url("./images/img3.jfif");
  background-attachment: scroll;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.SignUp {
  background-image: url("./images/img4.jfif");
  background-attachment: scroll;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
/* For Tablet Responsive */
@media screen and (max-width: 765px) {
  .about,
  .home,
  .products,
  .services,
  .SignUp {
    font-size: 3rem;
  }
}
/* For Mobile Responsive */
@media screen and (max-width: 320px) {
  .about,
  .home,
  .products,
  .services,
  .SignUp {
    font-size: 1.5rem;
  }
}
